@import '../../shared/styles/variables.scss';

.pageLayoutWrapper {
  height: 100%;
  min-height: 100vh;
  background: $background-color;
}

.pageLayoutWrapperContent {
  max-width: $page-layout-wrapper-content-max-width;
  margin: auto;
  padding: $default-padding;
}
