$background-color: #212121;
$background-color-secondary: #312f2f;
$text-color-primary: #fff;
$text-color-secondary: #c2c2c2;
$default-spacing: 16px;
$page-layout-wrapper-content-max-width: 800px;
$primary-font-family: 'Raleway', sans-serif;
$mobile-breakpoint: 767px;
$default-border-radius: 0.5rem;
$default-padding: 1rem;
$transition-time: 250ms;
